.wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--main-padding);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
