.base-checkbox {
  position: relative;
	width: fit-content;

  &__input {
		appearance: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked {
			+ .base-checkbox__label {
				&::before {
          border-color: var(--color-primary-500);
					background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 10.5005L10.5 1.50049' stroke='%23FE6E36' stroke-width='1.5'/%3E%3C/svg%3E");
        }
      }
    }
		&:disabled {
			+ .base-checkbox__label {
				cursor: not-allowed;
				filter: grayscale(100%);
				opacity: .5;
				&::before {
					// background-color: $c-black;
        }
      }
    }

    &:focus {
      + .base-checkbox__label {
				&::before {
          outline: 1px solid var(--color-primary-600);
        }
      }
    }

    &:active,
    &.is-active {
      + .base-checkbox__label {
				&::before {
          outline: 1px solid var(--color-primary-600);
        }
      }
    }

		&.error {
			+ .base-checkbox__label {
				color: var(--color-negative);
				&::before {
					border-color: var(--color-negative);
        }
      }
    }
  }

	&__label {
    font-size: rem(12);
    line-height: rem(16);
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
		color: var(--color-black);
		transition: color .2s ease;

    a {
      color: var(--color-primary-500);
      @include media(hover) {
        &:hover {
          color: var(--color-primary-600);
        }
      }
    }

    @include media(hover) {
      &:hover {
        color: var(--color-black);
        &::before {
          border-color: var(--color-primary-400);
        }
      }
    }

    &::selection {
      background: transparent;
      &::before {
        border-color: var(--color-primary-500);
      }

    }
    &::before {
      content: '';
      position: relative;
      flex: none;
      display: block;
      width: rem(16);
      height: rem(16);
      margin-right: rem(18);
      border: 1px solid var(--color-black);
      // background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 10.5005L10.5 1.50049' stroke='%23FE6E36' stroke-width='1.5'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      transition: border .2s ease;
    }
  }

  &.is-error &__input:not(:checked) + &__label {
    &::before {
      border-color: var(--color-negative);
      background-color: rgba(255, 0, 0, 0.274);
    }
  }

  @include media(tablet-after){
    &__input:hover {
      &:active,
      &.is-active,
      &:focus {
        + .base-checkbox__label {
          &::before {
            outline: none;
          }
        }
      }
    }
  }

}
