.base-input {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    top: calc(100% - 1px);
    left: 0;
    background-color: var(--color-primary-600);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:focus-within:after {
    opacity: 1;
  }

  &__input {
    font-size: rem(16);
    line-height: rem(22);
    width: 100%;
    padding-right: rem(64);
    padding-bottom: rem(8);
    padding-top: rem(24);
    height: rem(56);
    border-bottom: 1px solid var(--color-neutral-300);
    color: var(--color-black);
    transition: border-color 0.3s;

    &:active,
    &:focus {
      outline: 0;
      outline-offset: 0;
    }

    @include media(hover) {
      &:hover {
        outline: 0;
        outline-offset: 0;
        border-color: var(--color-primary-500);
      }
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      top: rem(8);
      font-size: rem(12);
      line-height: rem(16);
      transform: translateY(0);
    }
    &:focus,
    &:focus-visible {
      border-color: var(--color-primary-500);
    }

    &:valid ~ .base-input__clear {
      opacity: 1;
    }
  }
  &__box {
    color: var(--color-black);
    position: relative;
    display: flex;
    align-items: flex-end;
    height: rem(56);
  }

  &__label {
    color: var(--color-neutral-600);
    font-size: rem(16);
    line-height: rem(22);
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.3s;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__error {
    position: absolute;
    top: calc(100% + rem(4));
    right: 0;
    color: var(--color-negative);
    font-size: rem(12);
    line-height: rem(16);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &__clear {
    position: absolute;
    right: rem(16);
    top: 50%;
    transform: translateY(-50%);
    width: rem(24);
    height: rem(24);
    opacity: 0;
    color: var(--color-neutral-600);
    transition: opacity 0.3s;

    &:active,
    &.is-active,
    &:focus,
    &:focus-visible {
      outline: 1px solid var(--color-primary-600);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.is-error {
    &::after {
      opacity: 1;
      height: 1px;
    }

    &:focus-within:after {
      height: 2px;
    }
  }

  &.is-error &__error {
    opacity: 1;
  }
}
